{
  "printWidth": 120,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "spaceBeforeFunctionParen": false,
  "arrowParens": "always"
}
