.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 1;
  background-color: rgba(34, 121, 96, 0.875);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: azure;
  padding-left: 16px;
}
